@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.App {
  width: auto!important; 
  overflow-x: hidden!important
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
  flex-direction: column;
}



h3 {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-align: start;
  color: #0b0b0b;
}

h2 {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 900;
  font-size: 28px;
  line-height: 19px;
  text-align: start;
  color: #FF5B5B;
}

.introduction {

  justify-content: center;
  padding: 4rem ;
  width: 50%;
  margin: auto;
  display: flex;



  flex-direction: column;
}

.side-by-side {
  display: flex;
  margin: auto;
  width: 70%;

  padding: 4rem 8rem;
  flex-direction: row;
  border-top: 1px solid #dedede;
}

.full-container {
  width: 100%;
  margin: 0;
}

.side-by-side h2 {
  width: 600px;

}

.bold {
  font-weight: 800;
}

.text-container {
  display: inline-block;
  padding: 3rem;
  width: 50%;

  flex-direction: column;
}

.img-container {
  width: 400px;
  display: inline-block;
  align-items: flex-start;
  padding: 5rem;
  justify-content: space-between;
}

p {
  font-family: 'DM Sans';
  text-align: start;
  font-size: 15px;
  font-weight: 400;
}

p a {
  font-family: 'DM Sans';
  text-align: start;
  font-weight: 900;
  color:#FF5B5B;
 
}

.a-link {
  font-family: 'DM Sans';
  text-align: start;
  font-weight: 600;
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header img {
  width: 100%;
  height: auto;
}

#saannot img {
  padding: 0rem;

}

ol {
  padding: 2rem;
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: 400;
}

li {
  padding: 0 20px;
  margin: 15px;

}

#saannot img {
  transition: transform .3s ease-in-out;
  -webkit-touch-callout: none; /* Disable callouts */
  -webkit-user-select: none; /* Disable selection */
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }
        



#saannot img:hover {

  transform: scale(1.07) rotate(15deg);
}

#saannot img:active {


  transform: rotate(30deg);
  animation: shake 3s;


}



#saannot {
  background-color: #eeece3;
  padding: 1rem 5rem;
  display: flex;
  align-items: flex-start;
  
  

}

#beer {
  position: absolute;
  text-align: center;
}

#mobile-header-img {
  display: none ;
}

@keyframes shake {


  5% { transform: translate(-1px, -2px) rotate(180deg); }
  10% { transform: translate(-3px, 0px) rotate(176deg); }
  15% { transform: translate(-1px, -2px) rotate(187deg); }
  20% { transform: translate(3px, 2px) rotate(182deg); }
  25% { transform: translate(-1px, -2px) rotate(184deg); }
  30% { transform: translate(1px, -1px) rotate(176deg); }
  35% { transform: translate(-1px, -2px) rotate(182deg); }
  40% { transform: translate(-1px, 2px) rotate(180deg); }
  45% { transform: translate(-1px, -2px) rotate(170deg); }
  50% { transform: translate(-3px, 1px) rotate(182deg); }
  55% { transform: translate(3px, 1px) rotate(176deg); }
  60% { transform: translate(-1px, -1px) rotate(180deg); }
  65% {transform: translate(700px, -100px) rotate(360deg) scale(0.50);}
  70%, 100% {
   transform: translate(700px, -100px) rotate(360deg) scale(0.50);

  }



}



@media only screen and (max-width: 600px) {

  img:hover: {
    transform: scale(1.00) rotate(0deg);

  }
  .side-by-side {
    flex-direction: column;
    margin: 2rem auto; /* decrease the margin on the y-axis */
  }

  p {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }

 #img-header {
    display: none;
    visibility: hidden;
  }

  .imgheader {
    display: none;
  }

  .text-container {
    margin: 0;
    padding: 0 0 0 1rem;
    width: auto; /* make the text container full width */
  }

  h2 {
    font-size: 24px; /* decrease the font size */
    max-width: 100%;
    text-align: center; /* center the heading */
    margin: 1rem 0; /* add some space between the heading and the content */
    padding: 0;

  }

  .introduction {
    padding: 1rem;
    margin: auto;
    width: auto;
  }

  .side-by-side {
    margin: auto;
    width: auto;
    padding: 1rem;
  }

  .text-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;

  }

  #mobile-header-img {
    display: block;
    width: 100%;
  }

  .img-container {
    margin: 0;
    object-fit: contain;
    margin-bottom: 5rem;
    min-height: 150px;


  }

  img {
    width: 150px;
  }


  
  ol {
    padding: 0;
  }
  
  #krokesetti {
    display: none;
  }

  #saannot {
    padding:0  1rem;
    width: 95%;
    display: inline-block;
  }

  footer h3 {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}



